label {
	font-weight: bold;
	display: flex;
	margin-bottom: 5px;
	color: rgb(189, 200, 201);
}

input + label {
	font-weight: bold;
	display: inline-flex;
	margin-right: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select {
	display: block;
	width: 400px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.form-control {
	margin-bottom: 20px;
}

.error {
	width: 400px;
	font-weight: 700;
	color: rgb(201, 17, 17);
}

.button {
	background-image: linear-gradient(to right, rgb(5, 14, 62) 0%, #26a0da 55%, #314755 100%);
	width: 400px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	border-radius: 10px;
	display: block;
}

.button:hover {
	background-position: right center; /* change the direction of the change here */
	color: rgba(187, 187, 187, 1) 100.2%;
	text-decoration: none;
}

.button:disabled {
	cursor: not-allowed;
	background-color: #bdc3c7;
	border-color: #bdc3c7;
	color: #7f8c8d;
}

.grad {
	background-image: radial-gradient(
		circle 976px at 51.2% 51%,
		rgba(11, 27, 103, 1) 0%,
		rgba(16, 66, 157, 1) 0%,
		rgba(11, 27, 103, 1) 17.3%,
		rgba(11, 27, 103, 1) 58.8%,
		rgba(11, 27, 103, 1) 71.4%,
		rgba(16, 66, 157, 1) 100.2%,
		rgba(187, 187, 187, 1) 100.2%
	);
}

.price {
	color: rgb(189, 200, 201);
}
